.service-card {
    width: 15vw;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.1);
    padding: 2vh 2vw;
    text-align: center;
    transition: box-shadow 0.3s ease;
    min-width: 250px; /* fallback for very small screens */
  }
  
  .service-card:hover {
    box-shadow: 0 0.8vh 3vh rgba(0, 0, 0, 0.15);
  }
  
  .service-image {
    position: relative;
    width: 100%;
    height: 25vh;
    margin-bottom: 2vh;
  }
  
  .service-title {
    font-size: 1.6vw;
    font-weight: 600;
    color: #000;
    margin-bottom: 1vh;
    font-family: "Zen Kaku Gothic Antique" , serif;
  }
  
  .service-description {
    font-size: 1.1vw;
    color: #444;
    margin-bottom: 3vh;
    font-family: "Zen Kaku Gothic Antique" , serif;
  }
  
  .service-button {
    background-color: #007bff;
    color: white;
    padding: 1.2vh 2vw;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Zen Kaku Gothic Antique" , serif;
  }
  
  .service-button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width:480px) {

      
      .service-title {
        font-size: 2.5vh;
      }
      
      .service-description {
        font-size: 2vh;
        
      }
      
      .service-button {
        font-size: 2vh;
      }
      
      .service-button:hover {
        background-color: #0056b3;
        padding: 1.2vw 2vw;
      }
      
    
  }